/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/css/app.css
public/js/app.js
public/*.js


storage/app/public/profile_images/scanner_20200824_142511_santiago@gmail.com_1600389355.jpeg